.slider {
    display: flex;
    place-items: center;
}

.arrow {
    color: rgb(243, 224, 155);
    cursor: pointer;

    & .material-symbols-outlined {
        font-size: 32px;
    }

    &.left {
        margin-right: 8px;
    } 
    &.right {
        margin-left: 8px;
    } 
}

.image {
    max-width:75%;
    margin: 0 auto;
}
