<div class="slider">
    <div *ngIf="!isFirstPhoto" class="arrow left">
        <button class="nav-button" (click)="previousImage()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
    </div>
    <div class="image">
        <img [src]="selectedImage.url">
    </div>
    <div *ngIf="!isLastPhoto" class="arrow right">
        <button class="nav-button" (click)="nextImage()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
    </div>
</div>