:host {
    min-height: 100%;
}
.main-page-header {
    display: flex;
    background-color: aqua;
    width: 100%;
    place-content: center;
    height: 150px;
}

.main-page-container {
    display: flex;
    place-content: center;
    max-width: 1360px;
    margin: auto;
    min-height: calc(100% - 150px);

    .gallery {
        max-height: 95%;
    }
}