:host {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-gap: 1rem;
}

.grid-item {
    display: flex;
    place-self: center;
    place-content: center;
}

.button-load-more {
    background: none;
    border: none;
    width: 80px;
    margin: 32px auto 32px auto;
    justify-self: center;

    .button-text {
        background-image: url('../../../assets/images/background-gold.png');
        height: -moz-fit-content;
        height: fit-content;
        // width: -moz-fit-content;
        // width: fit-content;
        padding: 1rem 1.5rem;
        margin: auto;
        text-align: center;
        border-radius: 0.2rem;
        opacity: 1;
        font-size: 1.4rem;
        font-weight: 200;
        color: #000;
    }
}

@media (max-width: 640px){
    .grid-container { grid-template-columns: repeat(1, minmax(0, 1fr)); }
}
    
@media (min-width: 641px){    
    .grid-container { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

@media (min-width: 900px) {
    .grid-container { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}
    
@media (min-width: 1200px){        
    .grid-container { grid-template-columns: repeat(4, minmax(0, 1fr)); }
}

