.main-content {
    display: flex;
    flex-direction: column;
    max-width: var(--max-content-width);
    margin: auto;

    .center-logo {
        padding-top: 100px;
        align-self: center;
        max-width: 680px;
    }

    .photos-login {
        align-self: center;
        font-size: 1.8rem;
        color: #007bff;
        text-decoration: underline;
    }

    .login {
        margin-top: 32px;
        align-self: center;

        & #password {
            background-image: url('../../../assets/images/background-gold.png');
            font-size: 1.4rem;
            background-size: cover;
            border: 1px solid #ced4da;
            border-radius: 0.25px;
            height: 32px;

            &:focus {
                outline: none;
                border-color: #80bdff;
            }
        }

        & button {
            margin-left: 8px;
        }

        .login-button {
            background-color: transparent;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            font-size: 11px;
            background-image: url('../../../assets/images/background-gold.png');
            color: black;
            border: 1px solid #ced4da;
        }

        .login-error {
            color: red;
        }
    }
}