<div class="main-content">
    <div class="center-logo">
        <img src="../../../assets/images/center.png">
    </div>

    <!-- <div class="photos-login">
        <p>Ver fotos</p>
    </div> -->

    <div class="login">
        <div class="login-password">
            <input type="password" id="password" [(ngModel)]="password" placeholder="Insira password">
            <button class="login-button" (click)="clickHandler($event)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
        </div>
        <p *ngIf="errorMessage" class="login-error">{{ errorMessage }}</p>
    </div>
</div>