.bg {
    background-image: url("../assets/images/paper-horizontal.png");

    /* Full height */
    min-height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.main-content {
    min-height: calc(100vh - 50px);
}

.main-footer {
    display: flex;
    place-content: center;
    height: 50px;
}